/**
* ! Changing default styles of the browser
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  i {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  /**
  * ! Navbar STyles are here
  **/
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
  }
  
  .cart {
    position: relative;
    background-color: beige;
    color: #212529;
    font-size: 50px;
    padding: 5px;
    border-radius: 4px;
    margin-left: 1230px;
  }
  
  .cartAmount {
    position: absolute;
    top: -15px;
    right: 230px;
    font-size: 25px;
    background-color:#333333;
    color: white;
    padding: 3px;
    border-radius: 3px;
  }
  
  /**
  * ! Shop items styles are here
  **/
  
  .shop {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    gap: 200px;
    justify-content: center;
  }
  
  @media (max-width: 1000px) {
    .shop {
      grid-template-columns: repeat(2, 223px);
    }
  }
  
  @media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
  }
  
   .item {
    /* border: 2px solid #212529;
    border-radius: 4px; */
    box-shadow:1.5px 1.5px grey ;
  } 
  
  /* .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  } */
  
  .price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:black ;
    font-size: 20px;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
  }
  
  .bi-dash-lg {
    color: red;
    font-size: 20px;
  }
  
  .bi-plus-lg {
    color: green;
    font-size: 20px;
  }
  
  /**
  * ! style rules for label and some buttons
  **/
  
  .text-center {
    text-align: center;
    margin-bottom: 50px;
  }
 
  
  .HomeBtn,
  .checkout,
  .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .checkout {
    background-color: green;
  }
  .removeAll {
    background-color: red;
  }
  .bi-x-lg {
    color: red;
    font-weight: bold;
  }
  
  /**
  * ! style rules for shopping-cart
  **/
  
  .shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 450px);
    justify-content: center;
    gap: 30px;
  }
  
  /**
  * ! style rules for cart-item
  **/
  
  .cart-item {
    border: 2px solid #212529;
    border-radius: 10px;
    display: flex;

  }
  
  .title-price-x {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   border: 2px solid red; 
  }
  
  .title-price {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
  }
  .rating{
    color: gold;
    font-size: 20px;
  }
  .text-uppercase{
    font-size: 20px;
    text-decoration: underline;
  }
  .name{
    color:black;
    /* font-weight:  bold ; */
    font-size: 20px;
  }
  #full-width-filter {
    display: block !important;
}
.row {
  margin-top: 100px;
  display: flex;
  /*align-items: center;*/
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  margin-left: 450px;
}
.row-2 {
 
  margin: 100px 15px 50px;
}
body{
  background-color: beige;
}
.Sorting{
  font-size: 25px;
  background-color: azure;
}
.titre{
  color:#333333
}
.buttoninfo{
  font-size: 15px;
  color: black;
  background-color: lightgrey;
  margin-top: 5px;
  margin-bottom: 5px;
}
.page-btn{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}